<%= provide(:title, 'About') %>

<h1>About Pest Control</h1>
<p>John Kanthak created the Pest Control dedicated 
	bug tracking app in March 2013 for use by the team of IT contractors
	maintaining and upgrading the HUD Maps ArcGIS application
	for the U.S. Dept. of Housing and Urban Development.</p>
<p>That project fell under the Sequester axe shortly thereafter 
	and the team disbanded. Although Pest Control is not currently in
	active use, John maintains it on Heroku for portfolio purposes.</p>
<p>Pest Control uses Ransack for search and sort functionality, Paperclip for 
	image uploading, and modified Twitter Bootstrap for styling.	
</p>
<p>
	See the source code at: <a href="https://github.com/jkanthak/pest_control.git">https://github.com/jkanthak/pest_control.git</a>
</p>
<p>Enjoy your visit, and email John with any questions
	at: 
	<a href="mailto:johnkanthak@gmail.com?Subject=Pest%20Control">
johnkanthak@gmail.com.</a>
</p>		

