<%= provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Pest Control administrator John Kanthak at: 
	<a href="mailto:johnkanthak@gmail.com?Subject=Pest%20Control">
johnkanthak@gmail.com.</a>
</p>  
