<%= provide(:title, 'Help') %>

<h1>Help</h1>
<p>We're sorry, but our sources indicate that you are beyond all help.
	We here at Pest Control wish you the best of luck.</p>		
<br />
<p>(Seriously, though, no help page. Info about the app can be found in the 'About' page.)</p>
