<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Pest Control, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Pest Control at https://pestcontrol.herokuapp.com/.
      Your username is your email address: <%= @user.email %>.<br/>
    </p>
    <p>
      To log in to the site, just follow this link: <%= link_to 'Pest Control', root_path %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>